.account-details .account-detail {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.account-detail .label {
  display: block;
  font-weight: bold;
}

.account-detail .value {
  display: block;
  margin-top: 1rem;
}
