.account-switcher {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.account-switcher > small {
  color: var(--dz-secondary-color, #555);
  margin-top: -1rem;
  padding-left: 0.65rem;
}
