.customer-details .customer-detail {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.customer-detail .label {
  display: block;
  font-weight: bold;
}

.customer-detail .value {
  display: block;
  margin-top: 1rem;
}
